body {
    background-color: black;
}

.rgb {
    background-color: rgb(0,255,128,0.3);
    color: rgb(67,0,255);
}

.hsl {
    background-color: hsl(240,80%,40%);
    color: hsl(60,70%,60%,0.5);
}

.hex {
    background-color: #32cd3232;
    color:#32cd32;
}