* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

div {
    background: lightcoral;
    width: 10rem;
    height: 20rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    padding: 1rem 0.7rem 0.5rem;
}

/* Eu só vou funcionar o background */
.inline {
    background: lightseagreen;
    width: 10rem;
    height: 20rem;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
    padding: 0.8rem 0.7rem 0.6rem;
}

.block {
    display: block;
    background: greenyellow;
    width: 10rem;
    height: 20rem;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
    padding: 0.8rem 0.7rem 0.6rem;
}

.visible {
    display: inline-block;
    width: 10rem;
    height: 20rem;
    overflow: visible;
    position: relative;
    top: 0;
    left: 0;
}

.hidden {
    display: inline-block;
    width: 10rem;
    max-height: 20rem;
    overflow: hidden;
    top: 0;
    left: 15rem;
}

.scroll-x {
    display: inline-block;
    width: 10rem;
    max-height: 20rem;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0;
    left: 30rem;
}

.scroll-y {
    display: inline-block;
    width: 10rem;
    height: 20rem;
    overflow-y: scroll;
    top: 0;
    left: 45rem;
}

.auto {
    display: inline-block;
    width: 10rem;
    height: 20rem;
    overflow: auto;
    top: 0;
    left: 60rem;
}